# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

public/data/distance_postcodes_destinations.json
public/data/distance_destinations_postcodes.json
public/data/distance_postcodes_destinations_extra_points.json
public/data/distance_destinations_postcodes_extra_points.json